*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    width: 90%;
    margin: auto;
    
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;   
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;   
}

.itemCarrouselTarjeta img{
    width: 100%;
    height: 100%;   
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

.menuppal{
display: flex;
justify-content: center;
padding-bottom: 5px;   
}

ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;            
}
ul  li {
    padding: 2px 5px;              
}

.crudlist li{
    display: inline-flex;
    justify-content: center; 
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 25px;
}
.crudlist :hover{
    background-color: rgb(0, 157, 255);
    transition: all 300ms ease;
}
.crudlist a {
   text-decoration: none;
   cursor: pointer;
   color: black;
}

#streaming{
    border: 1px solid black;
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
}

#streaming td img{
    height: 100%;
    width: 100%;
}


#crud{
    margin: auto;
    border: 1px solid black;
    height: 40px;
    width: 85%;
    text-align: center;
}

#crud button{
    padding: 5px;
    margin-top: 4px;
}

table{
    margin: auto;
}